<!-- <ol>
    <li>
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="What's your name?">
      </mat-form-field>
    </li>
    <li>
      <button mat-raised-button (click)="openDialog()">Pick one</button>
    </li>
    <li *ngIf="animal">
      You chose: <i>{{animal}}</i>
    </li>
  </ol>
  -->


  
    
  <header class="bg">   
       
    <nav>
        <li>
            <button (click)=" openClick()"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 50 50"><path d="M6 36h36v-4H6v4zm0-10h36v-4H6v4zm0-14v4h36v-4H6z"/>
                </svg>
        </button>
        </li>
        <li>HOME</li>
        <li class="wel">Welcome User</li> 
        <li class="notification">
            <svg width="20" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M7.58 4.08L6.15 2.65C3.75 4.48 2.17 7.3 2.03 10.5h2c.15-2.65 1.51-4.97 3.55-6.42zm12.39 6.42h2c-.15-3.2-1.73-6.02-4.12-7.85l-1.42 1.43c2.02 1.45 3.39 3.77 3.54 6.42zM18 11c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2v-5zm-6 11c.14 0 .27-.01.4-.04.65-.14 1.18-.58 1.44-1.18.1-.24.15-.5.15-.78h-4c.01 1.1.9 2 2.01 2z"/>
            </svg>
        </li>

        <li>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image">Image</div>
              </mat-card-header>
            </li>
        <li>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editProfile()">
                  <mat-icon>dialpad</mat-icon>
                  <span>Edit Profile</span>
                </button>
                <button mat-menu-item disabled>
                  <mat-icon>voicemail</mat-icon>
                  <span>Check voice mail</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>notifications_off</mat-icon>
                  <span>Disable alerts</span>
                </button>
              </mat-menu>
        </li>

    </nav>

</header>
    <main>
        <section>
            <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile>GYMS</mat-grid-tile>
                <mat-grid-tile>SESSIONS</mat-grid-tile>
                <mat-grid-tile>MORE..</mat-grid-tile>
                <mat-grid-tile>4</mat-grid-tile>
              </mat-grid-list>
        </section>
    </main>