

button:hover{
    
    font-size: 25px;
 
  }
  button{
     margin-left: 20px;
     font-size: 20px;
     
     
  }
  
    mat-carousel{
        margin-left: 20px;

    }
  
  .left_side{
      height:500px;
  }
  section{
      height: 100px;
  }
  main{
      margin-top: 20px;
  }
  mat-card{
      width:300px;
      height: 300px;
      margin-bottom: 20px;
  }
 
.card{
    background-color: grey;
    background-color: thistle;
    padding:100px  100px;
    padding-bottom: 100px;
    
    
}
mat-grid-tile{
   
    margin-left: 20px;
    width: 500px;
}
.btn_Login{
    margin-left: 850px;
}

.site-footer{
   
    background-color:black ;
    color: white;
}
.promo py-5 bg-primary{margin-top: 180px;}
